body{
    font-family: 'Montserrat Alternates';
}
.section{
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(252,46,32);
    max-width: 64rem;
    padding: 0 1rem;
    box-shadow: 0 0 0 100vmax rgb(252,46,32);
    clip-path: inset(0 -100vmax);
    z-index: 999;
    margin: 0 auto;
    transition: 0.3s;
}
.hamburger_menu{
    transition: 0.3s;
}
.logo{
    text-transform: uppercase;
    font-weight: 700;
}
.header__nav ul{
    display: flex;
    gap: 1rem;
}
.nav__link{
    display: block;
    padding: 2rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
.header__nav--mobile{
    display: none;
}
.nav__link:hover{
    background-color: rgba(255,255,255,0.1);
}
.section--hero{
    
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(252,46,32);
    padding-top: 7rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 0 0 100vmax rgb(252,46,32);
    clip-path: inset(0 -100vmax);
    min-height: 30rem;
}
.hero__title{
    
    font-size: clamp(3rem, 6rem, 9rem);
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}
.hero__description{
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #fff;
    max-width: 32ch;
    line-height: 130%;
}
.hero__button{
    display: block;
    max-width: max-content;
    background-color: rgb(156,252,80);
    text-decoration: none;
    padding: 0.75rem 4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin-top: 3rem;
}
.hero__image{
    width: 100%;
    max-width: 470px;
    margin-left: -1rem;
}
.section--center{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section--center .section__text{
    margin-top: 1rem;
    line-height: 140%;
}
.section__title{
    font-weight: 900;
}
.section--choose{
    background-color: rgb(156,252,80);
    box-shadow: 0 0 0 100vmax rgb(156,252,80);
    clip-path: inset(0 -100vmax);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section--choose .section__title{
    text-align: center;
}
.images{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.images figcaption{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images img{
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
}
figcaption .title{
    font-weight: bold;
}
figcaption .btn{
    background-color: rgb(254,127,32);
    padding: 0.75rem 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-top: 1rem;
}
.section--rules{
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    background-image: url('../images/bg-grid2.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.section--rules .text{
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 0.9rem;
    line-height: 120%;
}
.col{
    flex: 1;
}
.col:first-of-type{
    flex: 2;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(51,51,51);
    max-width: 64rem;
    margin: 0 auto;
    box-shadow: 0 0 0 100vmax rgb(51,51,51);
    clip-path: inset(0 -100vmax);
    padding: 2rem 0;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: clamp(0.5rem, 0.9rem, 4rem);
}
.footer nav{
    width: 100%;
}
.footer ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer a{
    text-decoration: none;
    color: lightgray;
}

@media (max-width: 850px) {
    .header.active{
        clip-path: inset(-12rem 0);
        transition: 0.3s;
        background-color: black;
        box-shadow: 0 0 0 100vmax black;
    }
    .nav__link{
        text-align: center;
        color: white;
    }
    .hamburger_menu{
        
        width:100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        position:absolute;
        top: -500%;
        left: 0%;
        transition: 0.3s;
    }
    .hamburger_menu.active{
        top:0;
    }
    .hamburger_icon{
        right: 2.5%;
        top: 7.5%;
        position:absolute;
        cursor: pointer;
    }
    .header__nav--mobile{
        display: block;
        margin-left: auto;
    }
    .footer{
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .hero__image{
        display: none;
    }
    .section--hero{
        text-align: center;
        justify-content: center;
    }
    .hero__button{
        margin: 3rem auto;
    }
    .header__nav{
        display: none;
    }
    .header{
        padding: 1rem;
        justify-content: center;
    }
}
@media (max-width: 580px) {
    .images{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .section--rules{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}